.vagrant
*.swp
*.log


/terraform
/terraform_state
/ansible/roles/andrelohmann.azurecli
/ansible/roles/andrelohmann.root_colored_prompt
/ansible/roles/andrelohmann.terraform
/ansible/roles/andrelohmann.terrahelp
/ansible/roles/andrelohmann.terrahelper
/ansible/custom_vars.yml
/.idea
/nbproject
/.vagrant
.DS_Store
*.retry
*.log
/config.yml*
!/config.yml.example
